<div class="header-layout">

    <div class="header-container flex-row">

        <button pButton pRipple type="button" label="Clientes" icon="pi pi-users" routerLink="/customer" class="custom-button p-button-text p-button-plain"></button>

        <button pButton pRipple type="button" label="Pedidos" icon="pi pi-shopping-cart" routerLink="/order" class="custom-button p-button-text p-button-plain"></button>

        <button pButton pRipple type="button" label="Tiendas" icon="pi pi-home" routerLink="/store" class="custom-button p-button-text p-button-plain"></button>

        <button pButton pRipple type="button" label="Juegos" icon="pi pi-tablet" routerLink="/game" class="custom-button p-button-text p-button-plain"></button>

        <button pButton pRipple type="button" label="Desarrolladoras" icon="pi pi-github" routerLink="/developer" class="custom-button p-button-text p-button-plain"></button>

    </div>

</div>
