@import "../../../../assets/scss/shared.scss";

:host ::ng-deep .header-layout {

    .header-container {
        width: 100%;
        padding: 5px;
        background-color: $material-dark;

        .custom-button {
            margin: 5px;
            color: $text-white !important;

            &:hover {
                background-color: $material-darker !important;
            }
        }
    }
}