<div class="header-layout">

    <div class="header-container flex-row">

        <p-button label="Clientes" routerLink="/customer" class="custom-button"></p-button>

        <p-button label="Pedidos" routerLink="/order" class="custom-button"></p-button>

        <p-button label="Tiendas" routerLink="/store" class="custom-button"></p-button>

        <p-button label="Juegos" routerLink="/game" class="custom-button"></p-button>

        <p-button label="Desarrolladoras" routerLink="/developer" class="custom-button"></p-button>

    </div>

</div>
