<div class="developer-layout flex-column">

    <div class="developer-header-container flex-row">
        <h1> Desarrolladoras </h1>
        <button pButton pRipple type="button" icon="pi pi-plus-circle" label="Añadir" class="p-button-success" (click)="onClickAddDeveloper()"></button>
    </div>

    <div class="table-container">

        <p-table #cutomersTable [value]="developers" dataKey="id" [rowHover]="true"
            [rows]="10" [showCurrentPageReport]="true" [paginator]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} clientes">

            <ng-template pTemplate="header">
                <tr>
                    <th class="id">
                        <span> ID </span>
                    </th>
                    <th class="name">
                        <span> Nombre </span>
                    </th>
                    <th class="cif">
                        <span> CIF </span>
                    </th>
                    <th class="modify">
                        <span> Editar </span>
                    </th>
                    <th class="delete">
                        <span> Eliminar </span>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-developer>
                <tr class="p-selectable-row">
                    <td class="id">
                        <span> {{ developer.id }} </span>
                    </td>
                    <td class="name">
                        <span> {{ developer.name }} </span>
                    </td>
                    <td class="cif">
                        <span> {{ developer.cif }} </span>
                    </td>
                    <td class="modify">
                        <button pButton pRipple type="button" icon="pi pi-user-edit" (click)="onClickModifyDeveloper(developer)" class="p-button-warning"></button>
                    </td>
                    <td class="delete">
                        <button pButton pRipple type="button" icon="pi pi-trash" (click)="onClickDeleteDeveloper(developer)" class="p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5"> Aún no hay desarrolladoras registradas... </td>
                </tr>
            </ng-template>

        </p-table>

    </div>

    <app-developer-modal #developerModal (appOnApplyChanges)="getAllDevelopers()"></app-developer-modal>

    <p-confirmDialog #confirmDialog header="Eliminar registro" icon="pi pi-exclamation-triangle">
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-times" label="No" class="p-button-danger p-button-text" (click)="confirmDialog.reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="Sí" class="p-button-success p-button-text" (click)="confirmDialog.accept()"></button>
        </ng-template>
    </p-confirmDialog>

</div>

