@import "../../../../../assets/scss/shared.scss";

:host ::ng-deep .game-layout {
    height: 100%;

    .game-header-container {
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }

    .table-container {
        height: 100%;

        .p-datatable {
            height: 100%;
            display: flex;
            flex-direction: column;

            .p-datatable-wrapper {
                height: 100%;

                th, td {
                    cursor: default;

                    &.id {
                        width: 5rem;
                        text-align: center;
                    }

                    &.pegi {
                        width: 10rem;
                    }

                    &.title {
                        width: 20rem;
                    }

                    &.category {
                        width: 20rem;
                    }

                    &.launch {
                        width: 15rem;
                    }

                    &.modify {
                        width: 5rem;
                        text-align: center;
                    }

                    &.delete {
                        width: 5rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}
