@import "../../../../../assets/scss/shared.scss";

:host ::ng-deep .game-layout {
    height: 100%;

    .game-header-container {
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }

    .table-container {
        height: 100%;

        .p-datatable {
            height: 100%;
            display: flex;
            flex-direction: column;

            .p-datatable-wrapper {
                height: 100%;

                th, td {
                    cursor: default;

                    &.id {
                        width: 5rem;
                        text-align: center;
                    }

                    &.pegi {
                        width: 10rem;
                    }

                    &.title {
                        width: 20rem;
                    }

                    &.category {
                        width: 20rem;
                    }

                    &.launch {
                        width: 15rem;
                    }

                    &.stock {
                        width: 10rem;
                        text-align: center;

                        .stock-container {
                            border-radius: 3px;
                            padding: 5px;

                            &.success {
                                border: 2px solid $success;
                                color: $success;
                            }

                            &.warning {
                                border: 2px solid $warning;
                                color: $warning;
                            }

                            &.danger {
                                border: 2px solid $danger;
                                color: $danger;
                            }
                        }
                    }

                    &.modify {
                        width: 6rem;
                        text-align: center;
                    }

                    &.delete {
                        width: 6rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}
