@import "../../../../../assets/scss/shared.scss";

:host ::ng-deep .order-layout {
    height: 100%;

    .order-header-container {
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }

    .table-container {
        height: 100%;

        .p-datatable {
            height: 100%;
            display: flex;
            flex-direction: column;

            .p-datatable-wrapper {
                height: 100%;

                th, td {
                    cursor: default;

                    &.id {
                        width: 5rem;
                        text-align: center;
                    }

                    &.reference {
                        width: 10rem;
                    }

                    &.customer {
                        width: 15rem;
                    }

                    &.game {
                        width: 15rem;
                    }

                    &.store {
                        width: 15rem;
                    }

                    &.status {
                        width: 10rem;
                    }

                    &.return {
                        width: 6rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}
