
$transparent : #FFFFFF00;

$pure-white : #FFFFFF;
$pure-black : #000000;

$material-dark: #303030;
$material-darker: #0A0A0A;
$material-light: #FAFAFA;

$text-black: #1D1D1F;
$text-white: #F5F5F7;
$text-grey: #A1A1A6;

$yellow: #EAC435;
$blue: #345995;
$pink: #E40066;
$green: #03CEA4;
$orange: #FB4D3D;

$success: #5E8F32;
$warning: #FBC02D;
$danger: #D32F2F;
